*, *::before, *::after {
  box-sizing: border-box;
}

.wrap-circles {
  display: flex;
  min-height: 2vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
  background-image: conic-gradient(#B5838D 0%, #FFCDB2 0);
}

.circle .inner-impact,.inner-popularite,.inner-totalitarisme,.inner-technologie,.inner-democratie {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: #000;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}


.popularity-label {
  text-align: center;
  margin-top: 10px;
}

.jauges{display: flex;justify-content: space-between;
  align-items: center;}

.flex-item {
    height: 100px;
    margin-bottom: 20px;
  }

iframe{height: 80vh!important;}
.background {
    position: absolute; /* Positionnement absolu */
    bottom: 0; /* Positionné au bas de la page */
    left: 0; /* Positionné à gauche de la page */
    background-color: rgba(0, 0, 0, 0.66);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.character {
  height:450px;
}

.text {
    width: 66%;
    height: 44vh;
    display: flex;
    align-items: center;
}

.bubble.grow {
    width: initial;
}
.bubble {
    position: relative;
    display: inline-block;
    margin: 20px;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    font-size: 16px;
    line-height: 1.3em;
    background-color: #fff;
    color: #000;
    padding: 18px;
    box-shadow: 0 -4px #fff, 0 -8px #000, 4px 0 #fff, 4px -4px #000, 8px 0 #000, 0 4px #fff, 0 8px #000, -4px 0 #fff, -4px 4px #000, -8px 0 #000, -4px -4px #000, 4px 4px #000;
    box-sizing: border-box;
    width: 200px;
}

.bubble.left::after {
    height: 4px;
    width: 4px;
    top: 20px;
    left: -8px;
    background: white;
    box-shadow: -4px -4px #fff, -4px 0 #fff, -8px 0 #fff, 0 -8px #fff, -4px 4px #000, -8px 4px #000, -12px 4px #000, -16px 4px #000, -12px 0 #000, -8px -4px #000, -4px -8px #000, 0 -4px #fff;
}
.bubble::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
}

.eightbit-btn {
    margin-top: 20px;
    background: #92CD41;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset -4px -4px 0px 0px #4AA52E;
}
