.wrap-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 50%;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5rem;
  height: 5.5rem;
  background: black;
  font-weight: 700;
  border-radius: 50%;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0 2px 2px 0 #00000010, 0 0 4px -2px #00000020;
}

.circle > div {
  width: 4.5rem;
  height: 4.5rem;
  background: #e02678;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.anim-2 {
  animation: shake 10s cubic-bezier(0.87, 0, 0.13, 1) 0s infinite alternate
    forwards;
}
.anim-1 {
  animation: shake 10s cubic-bezier(0.87, 0, 0.13, 1) 4s infinite alternate
    forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(4deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-5deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-4deg);
  }
  90% {
    transform: rotate(3deg);
  }
}

.popularity-label {
  position: relative;
  text-align: center;
  font-size: 1rem;

  color: black;

  border-radius: 0.75rem 0.75rem 0.125rem;
  margin-top: 0rem;
  margin-right: 0.5rem;
}

.jauges {
  display: flex;
  position: relative;
  z-index: 400;
  justify-content: space-around;
  align-items: center;
}

.chart {
  flex: 40% 0 0;
  padding-right: 1rem;
  padding-top: 3.5rem;
  padding-bottom: 1.5rem;
}

#chartjs-container {
  display: block;
  position: relative;
  aspect-ratio: 7.5 / 10;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 #00000010, 0 0 4px -2px #00000020;
  background-color: #80808010;
  border-radius: 0.75rem;
}

.layer-game {
  width: 100%;
  position: absolute;
  animation: fade 0.5s ease-in-out;
  object-fit: cover;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background-game {
  width: 100%;
  position: absolute;
  object-fit: cover;
}

.footer {
  display: flex;
  padding-top: 3rem;
  flex-direction: column;
  align-items: center;
}

.header-main--contact {
  right: 2.5rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 76px;
  font-weight: 700;
  padding: 5px 32px;
  transition: 0.1s ease-in-out;
  transition-property: background-color, color;
  box-shadow: 0 2px 2px 0 #00000010, 0 0 4px -2px #00000020;
}

.header-main--contact:hover {
  background-color: white;
  color: #c7c7c7;
  border-color: black;
}

.powered-by {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.powered-by > p {
  position: relative;
  top: 0.75rem;
}

@media screen and (max-width: 1000px) {
  #chartjs-container {
    min-height: 0;
  }

  .header-main--contact {
    margin-bottom: 1rem;
  }

  .chart {
    padding-inline: 1rem;
    margin-top: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .footer {
    display: flex;
    padding-top: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  .popularity-label {
    font-size: 1rem;
  }

  .circle {
    width: 5rem;
    height: 5rem;
    font-size: 1.25rem;
  }
}
